@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #490e0e;
  --color-secondary: #201212;
  --color-crem: #ecddcd;
  --color-cream: #F5E6D3;
  --color-text : #ffffff;
  --color-dark:#3D1B1F;
  --color-text-dark-secondary:#3D1B1F;
  --color-wine: #722F37;
  --color-wine-light: #8B4049;
  --color-gold: #C9A961;

  --color-text-secondary: #64748B;
  --font-sans: 'Work Sans', sans-serif;
}
